body {
    margin: 0;
}

.view {
    position: relative;
    height: 90vh;
    width: 100vw;
    overflow: hidden;
}

#rat {
    height: 100px;
    width: 200px;
    opacity: 1.0;
    position:absolute;
    left: 0;
    z-index:200;
    background:url(noun_234918_cc.svg) no-repeat;
    animation-name: scurry;
    animation-duration: 5s;
    animation-iteration-count: 3;
}

@keyframes scurry {
    0% {
        transform: translate(50px, 40px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate(50px, 50px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(50px, 40px);
    }
}

footer {
  clear: both;
  padding: 2em 0;
  margin: 3em 0;
  color: #999;
  text-align: center;
}
