/* DGMD E27, Assignment 1, David Wihl */

/*** Main Styles ***/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 100%;
  font-family: "palatino linotype","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
  font-family: "Roboto", "League Spartan", "Avenir Black", "futura_md_btbold", "Arial", "sans-serif";
  color: black;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  width: 66%;
}

h3, label, button {
  font-family: "Roboto", "League Spartan", "Avenir Black", "futura_md_btbold", "Arial", "sans-serif";
}

.wrapper {
  width: 97%;
  max-width: 1200px;
  margin: 0  auto;
  float: none;
  background-color: #fff;
}

h3 {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0;
}

.wrapper img {
  width: auto;
  height: auto;
  display: block;
}

/* For non-"picture" images */
.wrapper .img-responsive {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

footer {
  clear: both;
  padding: 2em 0;
  margin: 3em 0;
  color: #999;
  text-align: center;
}

/*** Panel ***/
.panel {
  font-size: 0.9em;
}

.panel-heading {
  background-color: black;
}

.panel-title {
  color:white;
  text-align: center;
  margin: 0;
  padding: 1em;
  background-color: black;
}

.panel-footer {
  text-align: center;
  margin-top: 1em;
  padding: 0.25em;
}

.panel .fieldset {
  margin-bottom: 0.7em;
}

.panel label {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.5em;
}

.panel li {
  list-style: none;
}

.panel li::after {
    content:"";
    display: table;
    clear:both;
}



/*** Navigation ***/
nav {
  background-color: darkred;
  font-family: "Roboto", "League Spartan", "Avenir Black", "futura_md_btbold", "Arial", "sans-serif";

}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: auto;
}

nav ul a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding-left: 1.5em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  float: left;
}

nav ul a:hover {
  color: #a16100;
}



/*** Grid system - 6 columns ***/
.row::after {
    content:"";
    display: table;
    clear:both;
}
[class*='col-'] {
  margin-left: 4%;
  float: left;
  min-height: 1px;
}

.col-1 {
  width: 12%;
}
.col-2 {
  width: 28%;
}
.col-3 {
  width: 44%;
}
.col-4 {
  width: 60%;
}
.col-5 {
  width: 76%;
}
.col-6 {
  width: 92%;
}
.col-offset-1 {
  margin-left: 20%;
}
.col-offset-2 {
  margin-left: 36%;
}
.col-offset-3 {
  margin-left: 52%;
}

/*** Media queries ***/

/* Small mobile portrait Screen Sizes */
@media only screen and (max-width: 479px) {
  [class*='col-'] {
    width: 100%;
    float: none;
    margin-left: 0;
  }
  .col-4-6 {
    width: 100%;
  }
}

/* Medium screen width for larger phones and tablets */
@media only screen and
  (min-width: 480px) and (max-width: 767px)  {

  .col-1,
  .col-2,
  .col-3 {
    width: 44%;
  }
  .col-4,
  .col-5,
  .col-6 {
    width: 92%;
  }

  .col-offset-1,
  .col-offset-2,
  .col-offset-3 {
    margin-left: 4%
  }
  .col-4-6 {
    width: 92%;
  }
}

@media only screen and
  (min-width: 768px)  {
    .col-4-6 {
      width: 60%;
    }
}

/*** Headers ***/
header h1 {
  text-align: center;
  color: white;
  text-shadow: 1px 1px black;
}
/* Small header */
@media only screen and (max-width: 479px)  {
  header {
    background: url(../img/gates-sm.jpg) no-repeat;
    width: 100%;
    height: 6em;
  }
  header h1 {
    padding: 0.75em;
    font-size: 1.25em;
    margin-top:0;
  }
}

/* Medium header */
@media only screen and (min-width: 480px) and (max-width: 767px)  {
  header {
    background: url(../img/gates-lg.jpg) no-repeat;
    height: 10em;
  }
  header h1 {
    padding: 1em;
    font-size: 1.4em;
    margin-top: 1.25em;
  }
}

/* Large header */
@media only screen and (min-width: 768px)  {
  header {
    background: url(../img/gates-lg.jpg) no-repeat;
    height: 12em;
  }
  header h1 {
    padding: 1.25em;
    font-size: 2em;
    margin-top: 1em;
  }
}
