/* DGMD E27, Assignment 4, CSS4 David Wihl */


/*** Main Styles ***/

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 100%;
    font-family: "palatino linotype", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
    font-family: "Roboto", "League Spartan", "Avenir Black", "futura_md_btbold", "Arial", "sans-serif";
    color: black;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    width: 66%;
}
h3, label, button {
    font-family: "Roboto", "League Spartan", "Avenir Black", "futura_md_btbold", "Arial", "sans-serif";
}

/* CSS4 grid, 6 column */
.wrapper {
    width: 97%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1pr 1pr 1pr 1pr 1pr 1pr;
    grid-column-gap: 10px;
    padding-left: 40px;
    grid-auto-flow: row;
}

h3 {
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0;
}
.wrapper img {
    width: auto;
    height: auto;
    display: block;
}
footer {
    padding: 2em 0;
    margin: 3em 0;
    color: #999;
    text-align: center;
}

/*** Panel ***/

.panel {
    font-size: 0.9em;
}
.panel-heading {
    background-color: black;
    grid-column: 2 / 6;
}
.panel-title {
    color: white;
    text-align: center;
    margin: 0;
    padding: 1em;
    background-color: black;
}
.panel-footer {
    text-align: center;
    margin-top: 1em;
    padding: 0.25em;
}
label {
    margin-right: 0.5em;
}

/*** Navigation ***/

nav {
    background-color: darkred;
    font-family: "Roboto", "League Spartan", "Avenir Black", "futura_md_btbold", "Arial", "sans-serif";
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: auto;
}
nav ul a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding-left: 1.5em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    float: left;
}
nav ul a:hover {
    color: #a16100;
}

/*** Grid system - 6 columns ***/

header {
    grid-column: span 6;
}
nav {
    grid-column: span 6;
}
section {
    grid-column: span 6;
}
article {
    grid-column: span 6;
}
.col-2 {
    grid-column: span 2;
}
.col-3 {
    grid-column: span 3;
}
.col-4 {
    grid-column: span 4;
}
.col-5 {
    grid-column: span 5;
}
.col-6 {
    grid-column: span 6;
}
.col-offset-1-5 {
    grid-column: 2 / span 5;
}
.col-offset-1-4 {
    grid-column: 2 / span 4;
}
.col-offset-2 {
    grid-column: 3 / span 4;
}
.col-4-6 {
    grid-column: span 4;
}

/* Changing order explicitly */
.moveup {
  grid-row: 1;
}

/* right aligned column */

.col-r {
    justify-self: end;
}
.page-header {
    grid-column: 2 / span 5;
}

/*** Media queries ***/


/* Small mobile portrait Screen Sizes */

@media only screen and (max-width: 479px) {
    .wrapper {
        grid-column-gap: 5px;
        padding-left: 0px;
    }
    .col-4-6, .col-offset-1-5, .col-offset-1-4, .col-offset-2,
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6. .page-header {
        grid-column: span 6;
    }
    .col-r {
        justify-self: start;
    }
    label {
        margin-right: 0em;
    }
}

/* Medium screen width for larger phones and tablets */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .wrapper {
        grid-column-gap: 5px;
        padding-left: 0px;
    }
    .col-offset-1-5, .col-offset-1-4, .col-offset-2,
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6 {
        grid-column: span 6;
    }
    .col-4-6 {
        grid-column: span 6;
    }
    .page-header {
        grid-column: span 6;
    }
    .col-r {
        justify-self: start;
    }
}

/*** Headers ***/

header h1 {
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;
}

/* Small header */

@media only screen and (max-width: 479px) {
    header {
        background: url(../img/gates-sm.jpg) no-repeat;
        width: 100%;
        height: 6em;
    }
    header h1 {
        padding: 0.75em;
        font-size: 1.25em;
        margin-top: 0;
    }
}

/* Medium header */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    header {
        background: url(../img/gates-lg.jpg) no-repeat;
        height: 10em;
    }
    header h1 {
        padding: 1em;
        font-size: 1.4em;
        margin-top: 1.25em;
    }
}

/* Large header */

@media only screen and (min-width: 768px) {
    header {
        background: url(../img/gates-lg.jpg) no-repeat;
        height: 12em;
    }
    header h1 {
        padding: 1.25em;
        font-size: 2em;
        margin-top: 1em;
    }
}
